export EDITOR=nvim

# bun
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

# bun completions
[ -s "$HOME/.bun/_bun" ] && source "$HOME/.bun/_bun"

# alias
alias ls="eza --icons"
alias la="eza -l --icons --git -a"
alias dfe="chezmoi edit"
alias dfc="chezmoi cd"
alias dfd="chezmoi diff"
alias dfa="chezmoi apply -v"
alias dfu="chezmoi update -v"
{{- if eq .chezmoi.hostname "pc" }}
alias kb="sudo sh -c 'echo 2 > /sys/module/hid_apple/parameters/fnmode'"
{{- end }}

# starship
eval "$(starship init zsh)"

# functions
v () { 
  nvim $1
}

p () {
  pnpm $1
}

px () {
  pnpm dlx $1
}

# asdf
export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"
