{
  "position": "top",
  "margin": "8 8 0 8",
  "reload_style_on_change": true,
  "modules-left": [
    "hyprland/workspaces",
    "mpris"
  ],
  "modules-right": [
    "tray",
    {{- if eq .chezmoi.hostname "chris_laptop" }}
    "battery",
    {{- end }}
    "pulseaudio",
    "clock"
  ],
  "hyprland/workspaces": {
    "persistent-workspaces": {
      "*": 5
    }
  },
  "mpris": {
    "player": "tidal-hifi",
    "format": "{status} {dynamic}",
    "dynamic-order": ["title", "artist", "position", "length"],
    "status-icons": {
      "playing": "󰐊",
      "paused": "󰏤",
      "stopped": "󰏤",
    },
  },
  "pulseaudio": {
    "format": "󰕾 {volume}",
    "format-muted": "󰖁 {volume}",
    "on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle",
    "on-click-right": "pwvucontrol",
    "tooltip": false
  },
  "clock": {
    "format": "{:%I:%M %p}"
  },
  {{- if eq .chezmoi.hostname "chris_laptop" }}
  "battery": {
    "format": "{icon} {capacity}",
    "format-icons": [
      "󰁺",
      "󰁻",
      "󰁼",
      "󰁽",
      "󰁾",
      "󰁿",
      "󰂀",
      "󰂁",
      "󰂂",
      "󰁹"
    ],
    "format-charging": "󰂄 {capacity}",
    "format-plugged": "󰂄 {capacity}"
  },
  {{- end }}
  "tray": {
    "spacing": 6,
    "reverse-direction": true
  }
}
