theme = "Catppuccin Mocha"
font-family = "Mononoki Nerd Font Mono"
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor
window-padding-balance = true
window-padding-x = 6
{{- if eq .chezmoi.hostname "pc" }}
font-size = 16
{{- else if eq .chezmoi.hostname "chris_laptop" }}
font-size = 16
{{- else }}
font-size = 24
{{- end }}
